<ion-header>
    <ion-navbar>
      <ion-title>&nbsp; Question</ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="presentPopover($event)"><ion-icon name="more" ></ion-icon></button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
    
  <ion-content>  
    <div class = "questionHead" padding>
      <h2>{{ selected_question.question }}</h2>
      <br>
  
      <ion-chip>
        <ion-icon name="heart" color="dark"></ion-icon>
        <ion-label *ngIf="followed" (click)="unfollowQuestion()">&nbsp;&nbsp;Unfollow&nbsp;&nbsp;</ion-label>
        <ion-label *ngIf="!followed" (click)="followQuestion()">&nbsp;&nbsp;Follow&nbsp;&nbsp;</ion-label>
      </ion-chip>

      <!-- Query Categories Here  -->
      <p class = "questionDesc" [innerHTML] = "selected_question.questiondesc"></p>  
      <ion-chip>
          <ion-label>&nbsp;&nbsp;HTML&nbsp;&nbsp;</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>&nbsp;&nbsp; C++ &nbsp;&nbsp;</ion-label>
      </ion-chip>
      <ion-chip>
          <ion-label>&nbsp;&nbsp;Computer Science&nbsp;&nbsp;</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>&nbsp;&nbsp; Programming &nbsp;&nbsp;</ion-label>
      </ion-chip>
      
      <ion-chip>
        <ion-label *ngFor="let tag of selected_question.tags">&nbsp;&nbsp; {{ tag.name }} &nbsp;&nbsp;</ion-label>
      </ion-chip>
      <br>
      <br>
  
      <ion-row>
        <ion-col>
          <button ion-button round color = "light" (click) = "upvoteQuestion()">&nbsp;UpVote&nbsp;</button>
        </ion-col>
  
        <ion-col>
          <div class = "voteCount">
            <ion-icon name="star" style= "font-size: 1.8em;"></ion-icon>
            <p> {{ total }} </p>
          </div>
        </ion-col>
  
        <ion-col>
            <button ion-button round color = "light" (click) = "downvoteQuestion()">Downvote</button>
        </ion-col>
      </ion-row>
    </div>
    
    <div class = "answer">
      <ion-list>
        <div detail-none ion-item (click)="expandItem(answer)"  
                                    (press)="pressEvent($event, answer.id)" 
                                    *ngFor="let answer of answers" class= "answer1">
          
          <ion-row>
            <ion-col col-2 style = "padding-top: 20px; padding-left: 20px;">
              <ion-icon name="arrow-dropup-circle" style = "font-size: 2.5rem; color: #333;"></ion-icon>
                <p>34</p>
              <ion-icon name="arrow-dropdown-circle" style = "font-size: 2.5rem; color: #333;"></ion-icon>
            </ion-col>
  
            <ion-col style="padding: 20px;">
              <h2 [innerHTML] = "answer.answer" text-wrap></h2>
              <p > Asked by: <font style= "color:#850f13">{{ answer.user.displayname }}</font></p>  
            </ion-col>
          </ion-row> 
  
          <ion-row justify-content-center>
              <button ion-button right round style = "height: 2.5rem; font-size: 1.2rem" >View Comments </button>  
          </ion-row>
        
          <expandable [expandHeight] = "itemExpandHeight" [expanded] = "answer.expanded" >
            <div no lines style = "border-bottom: 2px dotted black;" text-wrap *ngFor = "let comment of answer.comments">
              <ion-row>
                <ion-col col-10 >
                    <strong><p [innerHTML] = "comment.comment"></p></strong>
                    <p> {{getDate(comment.updatedAt)}} </p>
                </ion-col>
                <ion-col *ngIf="user.id == comment.user.id">
                 <ion-icon name="create" (click)="editComment(comment.comment)"></ion-icon>
                </ion-col>
                <ion-col *ngIf="user.id == comment.user.id">
                  <ion-icon name="trash" (click)="deleteComment(comment.id)"></ion-icon>
                </ion-col>
              </ion-row>
            </div>
            <button ion-button full (click) = "addComment(answer)">Add Comment</button>
          </expandable> 
        </div>
      </ion-list>
    </div>
  </ion-content>
  
  <ion-footer no-shadow>
      <ion-toolbar position="bottom">
        <button ion-button full (click)="addAnswer()">Add Answer</button>
      </ion-toolbar>  
  </ion-footer>
  