<ion-header>
  <ion-navbar>
    <ion-title>
      Setup Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Get Username here  -->
  <h1>Welcome, {{user.displayname}}!</h1>  
     <p>Change your information if you want to change the default info.</p>

     <p><ion-avatar item-left>
        <img [src]="imageFileName" *ngIf="imageFileName" alt="Ionic File" class="profilePic" (click)="presentActionSheet()"/>
          <!-- <img src="{{user.picture}}" class = "center" > -->
        <img [src]="defaultImage" *ngIf="!imageFileName" alt="Ionic File" class="profilePic" (click)="presentActionSheet()"/>
        </ion-avatar>
      </p>
      
    <ion-list>
      <!--
        <ion-item>
          <ion-label fixed>Full Name</ion-label>
          <ion-input type="text" value=" {{ displayName }}"></ion-input>
        </ion-item>
        -->
        <ion-item>
            <ion-label fixed>Display Name</ion-label>
            <ion-input type="text" [(ngModel)]="user.displayname"></ion-input>
        </ion-item>

        <!-- Get Email here from Google  
        <ion-item>
            <ion-label fixed>Email</ion-label>
            <ion-input type="text" value=" {{email}}"></ion-input>
        </ion-item>-->

        <!-- Loop Here on all of the Categories -->
        <ion-item>
            <ion-label>Interests</ion-label>
            <ion-select [(ngModel)]="newInterests" multiple="true" cancelText="Cancel" okText="Done!">
              <ion-option *ngFor="let i of interests" value="{{i.id}}" selected = "true">{{i.name}}</ion-option>
              <ion-option *ngFor="let n of notinterests"
            </ion-select>
          </ion-item>
          <br>
          <!-- Submit All information including the Profile Pic -->
          <button ion-button (click)="uploadFile()" class = "center"  style="border-radius: 100px"><ion-icon name="md-cloud-upload"></ion-icon>&nbsp;&nbsp;Submit</button>
      


     </ion-list>
</ion-content>
