page-addquestion {
    .input-question-title {
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
    }
    a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
        display: none !important;
        position: absolute;
        top: -99999999px;
      }
      .toolbar-background-md {
        background-color: #850f13;
        color: white;
    }
    
    .toolbar-title-md {
        color: white;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.4rem;
    }
}
