<ion-content padding class="transparent-header">
  

  <div id="profile-bg" [ngStyle]="{'background-image': 'url('+ user.coverImage +')'}"></div>
  <div id="content">
    <div id="profile-info" padding>
      <img id="profile-image" [src]="user.profileImage">
      <h3 id="profile-name">{{user.name}}</h3>
      <p>{{user.occupation}} &bull; {{user.college}}  &bull; {{user.course}}</p>
      <p class="profile-description">{{user.description}}</p>
      <div><button ion-button (click)="presentConfirm()" class = "center">Logout From Google</button></div>
      <button ion-button *ngIf="!following" small color="purple" (click)="follow()">Follow</button>
      <button ion-button *ngIf="following" class="follow-button" small color="purple" (click)="unfollow()">Following<ion-icon name="checkmark"></ion-icon></button>
    </div>
    <hr/>
    <ion-row class="profile-numbers">
      <ion-col col-4>
        <p>Posts</p>
        <span>{{user.posts}}</span>
      </ion-col>
      <ion-col col-4>
        <p>Following</p>
        <span>{{user.following}}</span>
      </ion-col>
      <ion-col col-4>
        <p>Followers</p>
        <span>{{user.followers}}</span>
      </ion-col>
    </ion-row>

    <div id="posts">
      <ion-card *ngFor="let question of questions">
        <ion-item>
          <ion-avatar item-start>
            <!-- <img [src]="user.profileImage"> -->
          </ion-avatar>
          <h2 class="sticky">{{user.displayName}}</h2>
          <!-- <p>{{post.date}}</p> -->
        </ion-item>
     
        <ion-card-content class = "card rounded">
          <strong>{{  question.question }}</strong> 
          <!-- <p>  {{ post.text }}</p> -->
        </ion-card-content>
        <!-- <ion-row>
          <ion-col col-4>
            <button ion-button color="purple" clear small icon-left (click)="like(post)">
                <ion-icon name='thumbs-up'></ion-icon>
                {{post.likes}} Upvotes
              </button>
          </ion-col>
          <ion-col col-5>
            <button ion-button no-padding color="purple" clear small icon-left (click)="comment(post)">
                <ion-icon name='text'></ion-icon>
                {{post.comments}} Answers
              </button>
          </ion-col>
          <ion-col col-3 align-self-center text-center>
            <p>
              {{post.timestamp}}
            </p>
          </ion-col>
        </ion-row> -->
      </ion-card>
    </div>
  </div>
</ion-content>
