<ion-header>
  <ion-navbar>
    <ion-title> <ion-icon name="md-book"></ion-icon>Flow.IIT</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionCancel)="onCancel($event)"
  id = "search">
</ion-searchbar>

<ion-item no-lines class = "center">
    <ion-select [(ngModel)]="select_categories" class = "select_home">
      <ion-option *ngFor="let c of categories" value="{{c}}" [selected]="select_categories == c">{{ c }}</ion-option>
    </ion-select>
</ion-item>

<ion-item no-lines class = "center">
    <ion-select [(ngModel)]="select_sort" class = "select_home">
        <ion-option *ngFor="let s of sort" value="{{s}}" [selected]="select_sort == s">{{ s }}</ion-option>
      </ion-select>
</ion-item>


<button class = "askButton" ion-button block>Ask Question</button>

<ion-list>
  <ion-item-sliding #item *ngFor="let question of questions">
    <ion-item>
      <ion-card>
        <ion-item>
          <ion-avatar item-start>
          <img src="../../assets/imgs/avatar_6225.jpg" >
          </ion-avatar>
          <h2>{{ question.poster }}</h2>
          <p><strong>Categories:</strong></p>
          <p *ngFor="let cat of question.categories">{{ cat }}</p>
        </ion-item>
      <ion-card-content>
      <h1>{{ question.title }}</h1>
      </ion-card-content>
      <ion-row>
        <ion-col>  
          <button ion-button icon-left small round outline *ngFor="let tag of question.tags">
            {{ tag }}
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{ question.votes }} Votes</div>
        </button>
      </ion-col>
      <!--<ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>-->
      <ion-col center text-center>
        <ion-note>
          {{ question.dateposted }}
        </ion-note>
      </ion-col>
      </ion-row>
      </ion-card>
    </ion-item>
  <ion-item-options side="left">
      <button ion-button class="upvote"><ion-icon name="arrow-dropup" class = "vote"></ion-icon></button>
      <button ion-button class="downvote"><ion-icon name="arrow-dropdown" class = "vote"></ion-icon></button>
    </ion-item-options>
</ion-item-sliding>
</ion-list>
</ion-content>
