page-newsfeed {

.questiondetails {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 10px;
}

.comment {
    border: 1px solid #c0c0c0;
    border-radius: 30px;
    margin: 10px;
    width: 75%;
    padding: 10px;
    float: left;
}

.comment_answer {
    width: 20%;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    float: left;
    background-color: #0080ff;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.select_home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.upvote {
    background-color:#4CAF50;
}

.downvote {
    background-color: #f44336;


}

.vote {
    width: 50px;
}

}