<!--
  Generated template for the FollowersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Followers</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-card>
        <button *ngIf="!isFollowed" (click)="followUser()" ion-button="" class="disable-hover button button-md button-default button-default-md"><span class="button-inner">Follow</span><div class="button-effect" style="transform: translate3d(-2px, -71px, 0px) scale(1); height: 175px; width: 175px; opacity: 0; transition: transform 317ms ease 0s, opacity 222ms ease 95ms;"></div></button>
        <button *ngIf="isFollowed" (click)="unfollowUser()" ion-button="" class="disable-hover button button-md button-default button-default-md"><span class="button-inner">Unfollow</span><div class="button-effect" style="transform: translate3d(-2px, -71px, 0px) scale(1); height: 175px; width: 175px; opacity: 0; transition: transform 317ms ease 0s, opacity 222ms ease 95ms;"></div></button>
        <ion-list>
          <ion-item>
            {{ user.displayname }}
          </ion-item>
          <ion-item>
            {{ user.email }}
          </ion-item>
          <img src="{{ user.picture }}">
        </ion-list>
      </ion-card>
      <ion-card>
        <ion-list>
          <h1>Interests: </h1>
           <ion-item *ngFor="let interest of interests">{{ interest.name }}</ion-item>
        </ion-list>
      </ion-card>
</ion-content>
