<!-- <ion-content padding>
  <ion-content id="homeScroll">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionCancel)="onCancel($event)"
  id = "search">
</ion-searchbar>

<ion-item no-lines class = "center" style="display: inline-block;">
    <ion-select [(ngModel)]="select_categories" class = "select_home">
      <ion-option *ngFor="let c of categories" value="{{c}}" [selected]="select_categories == c">{{ c }}</ion-option>
    </ion-select>
    <ion-select [(ngModel)]="select_sort" class = "select_home">
        <ion-option *ngFor="let s of sort" value="{{s}}" [selected]="select_sort == s">{{ s }}</ion-option>
    </ion-select>
</ion-item>


<button class = "askButton" ion-button block [navPush]="postquestion">Ask Question</button>

<ion-list>
    <ion-item *ngFor="let question of questions">
      <ion-card >
        
        <ion-row>
          <ion-col col-1 style="text-align: center;">
            <button ion-button clear><img src="../../assets/imgs/arrow-up-b.png"></button>
            <ion-icon name="md-arrow-round-up"></ion-icon>
            <h1>{{ question.votes }}</h1>
            <button ion-button clear><img src="../../assets/imgs/arrow-down-b.png"></button>
          </ion-col>
          <ion-col col-11>
        <ion-item>
            <ion-avatar item-start  style="height: 5px !important;width: 5px !important;">
              <img src="{{ question.user.picture }}" >
            </ion-avatar>
            <h2>{{ question.user.displayname }}</h2>
            <p><strong>Categories:</strong></p>
            <p *ngFor="let cat of question.categories">{{ cat }}</p>
        </ion-item>
        <ion-card-content>
          <ion-item text-wrap>
            <p><strong>{{ question.title }}</strong></p>
            <p>{{ question.question }}</p>
          </ion-item>
        </ion-card-content>
      <ion-row>
        <ion-col>  
          <button ion-button icon-left small round outline *ngFor="let tag of question.tags" style="font-size: 10px;">
            {{ tag }}
          </button>
        </ion-col>
      </ion-row>
    </ion-col>
      </ion-row>
      </ion-card>
      <ion-item no lines>
        <input type="text" placeholder="Add comment..." class="comment"><button class="comment_answer">Post</button>
      </ion-item>
    </ion-item>
</ion-list>
</ion-content>
 -->


 <ion-header>
  <ion-navbar>
    <ion-title>IIT Overflow</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row justify-content-start>
      <ion-col col-8>
        <ion-searchbar 
          placeholder= "Search Questions" 
          animated = true>
        </ion-searchbar>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-select 
            placeholder = "Sort by"
            interface = "popover"
            class = "items">
              <ion-option value="Active">Active</ion-option>
              <ion-option value="Newest">Newest</ion-option>
              <ion-option value="Votes">Votes</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-list>
      <ion-item-divider>
        <ion-avatar item-start>
          <img src="../../assets/imgs/test1.png">
        </ion-avatar>
       <p class = "question">How to Declare a variable in Javascript?</p>
        <ion-row>
          <ion-col col-8>
              <ion-note item-start class = "note"> Python,Web Development </ion-note>
          </ion-col>
          <ion-col >
              <ion-note><p style="text-align:right; font-size: 12px; color: #c5c5c5;"> 1min ago</p></ion-note>
          </ion-col>
        </ion-row>
      </ion-item-divider>
  </ion-list>

  <ion-list>
      <ion-item-divider>
        <ion-avatar item-start>
          <img src="../../assets/imgs/test1.png">
        </ion-avatar>
       <p class = "question">iOS 11 Basics: Laying out views in a scrollView</p>
        <ion-row>
          <ion-col col-8>
              <ion-note item-start class = "note"> Ios, swift, uiscrollview</ion-note>
          </ion-col>
          <ion-col >
              <ion-note><p style="text-align:right; font-size: 12px; color: #c5c5c5;"> 3mins ago</p></ion-note>
          </ion-col>
        </ion-row>
      </ion-item-divider>
  </ion-list>

  <ion-list>
      <ion-item-divider>
        <ion-avatar item-start>
          <img src="../../assets/imgs/test1.png">
        </ion-avatar>
         <p class = "question">How to assign multiple classes to an HTML container?</p>
        <ion-row>
          <ion-col col-8>
              <ion-note item-start class = "note"> html, css, html5</ion-note>
          </ion-col>
          <ion-col >
              <ion-note><p style="text-align:right; font-size: 12px; color: #c5c5c5;"> 5hrs ago</p></ion-note>
          </ion-col>
        </ion-row>
      </ion-item-divider>
  </ion-list>

  <ion-fab right bottom>
      <button ion-fab><ion-icon name="md-bulb" style="zoom:1.4;"></ion-icon></button>
    </ion-fab>
</ion-content>
